<Doctype/>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RockSAMA</title>
    <link rel="stylesheet" href="../lib/normalize.css">
</head>
<body>
<div class="container">
    <% include /template/views/page1.ejs %>
    <div class="page1">
        <svg xmlns:svg="http://www.w3.org/2000/svg"><text color="#000" font-size="10px">123</text></svg>
    </div>
</div>
</body>
</html>