.common-chart{
  text-align: center;
  //background: #fafafa;
}

.chart-bar{
  background: #fafafa;
  user-select: none;
  .left{
    text{
      font-size: 10px;
      fill: #aaa;
      transform: translateY(3px);
    }
    line{
      transform: translateX(10px);
    }
  }
}