.file-content{
  margin-top: 20px;
  .tree{
    display: inline-block;
    width: auto;
    //margin-right: 20px;
    vertical-align: top;
    padding-left: 10px;
    border-left: solid 1px #eee;
    margin-left: 10px;
  }
}