.label-list{
  background: #fff;
  width: 180px;
  li{
    margin-left: 10px;
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    opacity: 0.6;
    a{
      border-radius: 4px;
      padding: 1px 5px 4px 5px;
      i{
        margin-right: 4px;
      }
    }
  }
}