
.header {
  .logo {
    position: absolute;
    left: 18px;
    top: 14px;
    width: 36px;
    height: 36px;
    background: url('https://developer.github.com/assets/images/status-icon-good.png') no-repeat;
    background-size: contain;
  }
  .ant-input-search{
    opacity: 0.4;
  }
}

.left-menu{
  display: inline-block;
  line-height: 64px;
  width: 600px;
}

.right-menu{
  position: relative;
  line-height: 64px;
  display: inline-block;
  width: 100px;
  float: right;
}

.user-face-main{
  width: 150px;
  margin: 0 auto;
  border-bottom: dashed #999 1px;
  .uf-pic{
    position: relative;
    margin-top: 22px;
    width: 150px;
    height: 150px;
    border-radius: 6px;
  }
  h4{
    margin-top: 6px;
    font-size: 16px;
  }
  h5{
    font-size: 13px;
  }
  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  hr{
    width: 80%;
    background: #c0c0c0;
    height: 0;
  }
}

.main-body{
  position: relative;
  margin-top: 16px;
  .repos{
    width: 760px;
    display: inline-block;
    .ant-card{
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      .ant-card-body{
        padding: 12px;
        h5 a{
          font-size: 16px;
        }
        p{
          margin-top: 4px;
          max-height: 36px;
          overflow: hidden;
        }
      }
    }
  }
  .aside{
    width: 290px;
    float: right;
    .chart-lang{
      text-align: center;
      margin-bottom: 20px;
      font-size: 120%;
    }
  }
}
