.search{
  min-height: 200px;
  text-align: center;
}


.search-empty{
  @extend .search;
  img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto 20px auto;
  }
  h1{
    position: relative;
    margin-bottom: 10px;
  }
}

.search-error{
  @extend .search;
  img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto 20px auto;
  }
  h1{
    position: relative;
    margin-bottom: 10px;
  }
}

.search-show{

  .count{
    display: inline-block;
    line-height: 1.2;
    border-radius: 4px;
    background: #ddd;
    width: 20px;
    text-align: center;
    color: #fff;
  }
}