.trending{
  margin-top: 10px;
  .t-left-part{
    float: left;
    width: 800px;
    >ul>li:nth-child(3){
      float: right;
    }
  }
  .t-right-part{
    width: 240px;
    background: #fcfcfc;
    float: right;
    ul{

      li{
        margin: 10px;
        a{
          display: block;
          background: #eee;
          padding: 4px 10px;
        }
      }
    }
  }
}