.icon-lang{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
}


.user-repos{
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  .ant-card{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    p>span{
      margin-right: 10px;
    }
    .ant-card-body{
      padding: 12px;
      h5 a{
        font-size: 16px;
      }
      p{
        margin-top: 4px;
        max-height: 36px;
        overflow: hidden;
      }
    }
  }
}