.issue-panel{

  .ant-btn-group{
    margin-left: 20px;
  }
  >.ant-btn{
    float: right;
    margin-right: 30px;
  }
  .bar-filter .ant-select-selection__rendered{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.ant-select-dropdown{
  width: auto;
}

.issue-card-container{
  position: relative;
  .i-s-labels{
    position: absolute;
    top: 0;
    right: 40px;
  }
}
