<div style="position: absolute;width: 100%;height: 100%;background: #ddd">
    <div class="loader" style="position: absolute;left: 50vw;top: 50vh;margin-left: -25px;margin-top:-25px;">
        <div class="pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div style="font-size: 20px;position: relative;left: -37px;top: 15px;">loading . . .</div>
    </div>
</div>
