.common-chart{
  text-align: center;
  //background: #fafafa;
  .left{
    rect{
      fill: #fff;
    }
    text{
      font-size: 10px;
      fill: #aaa;
      transform: translateY(3px);
    }
    line{
      transform: translateX(10px);
    }
  }
}

.chart-area{
  background: #fafafa;
  user-select: none;
}

.chart-area-two{
  background: transparent;
  rect{
    fill: transparent;
  }
}

.chart-bar{
  user-select: none;
  .bar{
    rect{
      fill: #fb8532;
      &.active{
        fill: #b31d28;
      }
    }
  }
}

.chart-linear{
  .linear{
    circle{
      fill: #28a745;
      stroke: #1e7e34;
      stroke-width: 2px;
    }
  }
}