.common-chart{
  text-align: center;
  //background: #fafafa;
}

.chart-area{
  background: #fafafa;
  user-select: none;
  .left{
    text{
      font-size: 10px;
      fill: #aaa;
      transform: translateY(3px);
    }
    line{
      transform: translateX(10px);
    }
  }
}


.chart-bar{

  user-select: none;
  .left{
    rect{
      fill: #fff;
    }
    text{
      font-size: 10px;
      fill: #aaa;
      transform: translateY(3px);
    }
    line{
      transform: translateX(10px);
    }
  }
  .bar{

    rect{
      fill: #fb8532;
    }
  }
}

.chart-linear{

  user-select: none;
  .left{
    rect{
      fill: #fff;
    }
    text{
      font-size: 10px;
      fill: #aaa;
      transform: translateY(3px);
    }
    line{
      transform: translateX(10px);
    }
  }
  .bar{

    rect{
      fill: #fb8532;
    }
  }
}