.issue-event{
  display: flex;
  width: 800px;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  .icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 16px;
    margin-left: 55px;
    text-align: center;
    i{
      margin-top: 7px;
    }
  }
  .state{
    position: absolute;
    right: 10px;
    bottom: 4px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
  }
  section{

    img{
      margin: 0 10px;
      vertical-align: top;
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }
    p{
      font-size: 16px;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 4px;
    }
    span{
      color: #999;
    }
  }
}


.cross-referenced{
  .icon{
    background: #eee;
  }
  .state{
    background: mediumpurple;
  }
}

.closed{
  .icon{
    background: #cb2431;
    color: #fff;
  }
  section{
    margin-top: 7px;
  }
  .hr{
    height: 3px;
    background: #eee;
    margin-top: 10px;
    width: 800px;
  }
}

.referenced{
  .icon{
    background: #eee;
  }
  section{
    margin-top: 7px;
  }
  .hr{
    height: 3px;
    background: #eee;
    margin-top: 10px;
    width: 800px;
  }
  .referenced-detail{
    margin-left: 130px;
    .referenced-detail-item{
      a{
        color: #333333;
        &:hover{
          text-decoration: underline;
        }
      }
      span{
        display: inline-block;
        padding: 0 2px;
        background: #ddd;
        color: #222;
        margin-left: 10px;
        &:hover{
          background: #234f79;
          color: #ddd;
          cursor: pointer;
        }
      }
      p{
        margin-left: 16px;
        a{
          color: #00a2ae;
        }
      }
    }
  }
  img{
    margin: 0 10px;
    vertical-align: top;
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }
}