.trending-list{

  ul{

    li{
      margin: 16px 0;
      border: solid 1px #eee;
      border-radius: 5px;
      padding: 10px 20px;
      h4{
        //margin-top: 10px;
        font-size: 20px;
      }
      .desc{
        //padding: 10px;
        margin: 10px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .detail{
        .dot{
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 4px;
        }
        span{
          display: inline-block;
          margin-right: 20px;
          &.users{
            img{
              width: 20px;
              height: 20px;
              vertical-align: middle;
              border-radius: 4px;
              margin-left: 4px;
              &:first-child{
                margin-left: 6px;
              }
            }
          }
          &.addition{
            float: right;
            margin-right: 0;
          }
          i{
            margin-right: 4px;
          }
        }
      }
    }
  }
}